### For this analysis, I am using the [Stock Market: Historical Data of Top 10 Companies](https://www.kaggle.com/datasets/khushipitroda/stock-market-historical-data-of-top-10-companies)Â dataset from Kaggle.

In [4]:
CREATE TABLE stock_data (
    company VARCHAR(10),
    [date] DATE,         -- Represents the trading day
    [close] FLOAT,       -- The closing or last traded price
    volume INT,          -- Total number of shares traded
    [open] FLOAT,        -- The opening price
    [high] FLOAT,        -- The highest price during the trading session
    [low] FLOAT          -- The lowest price during the trading session
);

In [5]:
BULK INSERT stock_data
FROM '/var/opt/mssql/data/data.csv'
WITH (
    FIELDTERMINATOR = ',',  -- Delimiter between columns
    ROWTERMINATOR = '\n',   -- Delimiter between rows
    FIRSTROW = 2           -- Skips the header row in the CSV
);