# Step 2: Cleaning

In [1]:
SELECT TOP 10 * FROM stock_data;

company,date,close,volume,open,high,low
AAPL,2013-07-18,15.42,218632537,15.48,15.53,15.38
AAPL,2013-07-19,15.18,268548901,15.47,15.5,15.16
AAPL,2013-07-22,15.23,207648981,15.34,15.35,15.2
AAPL,2013-07-23,14.96,354477618,15.21,15.25,14.95
AAPL,2013-07-24,15.73,591624923,15.68,15.88,15.55
AAPL,2013-07-25,15.66,229432412,15.74,15.76,15.56
AAPL,2013-07-26,15.75,200082264,15.55,15.75,15.51
AAPL,2013-07-29,15.99,248025441,15.74,16.07,15.72
AAPL,2013-07-30,16.19,308960556,16.07,16.33,16.04
AAPL,2013-07-31,16.16,322499391,16.25,16.33,16.05

## A. Check for NULL values

In [3]:
-- Count the number of NULL values in each column
SELECT 
    SUM(CASE WHEN company IS NULL THEN 1 ELSE 0 END) AS company_nulls,
    SUM(CASE WHEN [date] IS NULL THEN 1 ELSE 0 END) AS date_nulls,
    SUM(CASE WHEN [close] IS NULL THEN 1 ELSE 0 END) AS close_nulls,
    SUM(CASE WHEN volume IS NULL THEN 1 ELSE 0 END) AS volume_nulls,
    SUM(CASE WHEN [open] IS NULL THEN 1 ELSE 0 END) AS open_nulls,
    SUM(CASE WHEN high IS NULL THEN 1 ELSE 0 END) AS high_nulls,
    SUM(CASE WHEN low IS NULL THEN 1 ELSE 0 END) AS low_nulls
FROM stock_data;

-- No NULL values!

company_nulls,date_nulls,close_nulls,volume_nulls,open_nulls,high_nulls,low_nulls
0,0,0,0,0,0,0